/* nav related css style */

nav {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 0 200px;
}

/* common shared style */

body {
    font-family: 'Open Sans', sans-serif;
}

.arfan {
    color: #181818;
font-family: Open Sans;

font-style: normal;

line-height: normal;
}

.hire {

    color: #FD6E0A;

}
/* nav related style css */
nav > ul {
    display: flex;
    text-align: center;
    
}

nav li { 

    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: var(--dark-02, #474747);
}
/* button related css style*/
.button {
    border-radius: 5px;
background: #FD6E0A;
border: 0;

font-size: 20px;
color: var(--white-color, #FFF);
padding: 18px 30 px;
font-weight: 700;
margin-right: 5px;
}

/* header related style css */
.head { 
    background: #FFF8F3;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

/* banner section div */

.banner {

    padding: 30px 35px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.h3 {

    font-size: 45px;
    color: var(--dark-02, #474747);
    margin-bottom: 0;
}

.h1 {
    font-size: 85px;
    font-weight: 700;
    color: var(--dark-01, #181818);
    margin-top: 5px;
}
.content {
    max-width: 500px;
}
/* img section css style */

.img {

    width: 400px;

}

/* main section */

  main { max-width: 1140px;
    margin: 0 auto;


}

main section {
    margin-top: 130px;
}

/* main section  css style */
.section {
    border-radius: 10px;
background: #FFF8F3;
padding: 130px;
}

.about {
    color: #181818;
text-align: center;
s;
font-size: 35px;

font-weight: 700;
margin: 130px;

}

.me {
    color: var(--dark-03, #757575);
text-align: center;

font-size: 18px;

font-weight: 400;
line-height: 30px;
}
/* div section in section */

.info {
    display: flex;
    justify-content: space-around;
}

.h2 {
    text-align: center;
    color: #757575;


font-size: 20px;

font-weight: 400;
line-height: 30px;
}
.pera {
    color: #757575;
text-align: center;

font-size: 20px;

font-weight: 400;
line-height: 30px;
}

/* id section */

.bigu {
    color: var(--dark-01, #181818);
    text-align: center;
    
    font-size: 35px;
    
    font-weight: 700;
  

}
#apen {
    padding: 30px 150px;

    color: var(--dark-03, #757575);
text-align: center;

font-size: 18px;

font-weight: 400;
line-height: 30px;
}

/* shesh section er style css */

.shesh {
    display: flex;
    gap: 24px;
}
.nai {
    padding: 30px
    ;

  

    border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}
.apple {
    color: var(--dark-03, #757575);


font-weight: 400;
line-height: 28px;
}

/* resume section css style */

.appa {
    color:#474747;

font-size: 30px;

font-weight: 700;

}